*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ========================FONT================= */
.Sacramento-cursive {
    font-family: 'Sacramento', cursive;
}

.Montserrat-sans-serif {
    font-family: 'Montserrat', sans-serif;
}

.Merriweather-serif {
    font-family: 'Merriweather', serif;
}
.Yellowtail{
    font-family: 'Yellowtail', cursive;
}
/* =======================BODY================ */
.flex {
    display: flex;
}

body{
    height: 1000px;
}

.section-1{
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 80%;
    justify-content: space-between;
}

.section-1 .container .logo {
    color: white;
    font-size: 2.9rem;
}

.section-1 .container .link{
    color: white;
    width: 380px;
    font-size: 1.4rem;
    justify-content: space-between;
    align-items: center;
}

.section-1 .container .icons {
    width: 100px
}

.section-1 .container .icons img{
    margin-top: 20px;
    margin-left: 10px;
    width: 20px;
}
.white{
    color: white;
}
.section-2{
    height: 685px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: relative;
}
.section-2 .container{
    width: 80%;
    height: 64%;
    background-color: rgb(12, 12, 11);
    margin-bottom: 70px;
}
.section-2 .container .left , .section-2 .container .right{
    width: 50%;
    height: 100%;
}
.section-2 .container .left{
    background-color: rgb(0, 0, 0);
}
.section-2 .container .right{
    background-color: rgb(0, 0, 0);
}
.section-2 .container .left .text {
    margin-top: 40px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.white{
    color: white;
}
.section-2 .container .left .text h1{
    font-size: 2.4rem;
}
.section-2 .container .left .text p{
    font-size: 0.9rem;
    margin-top: 50px;
    margin-bottom: 50px;
} 
.section-2 .container .left .text button{
    width: 140px;
    height: 50px;
    background-color: rgb(24, 24, 230);
    border: none;
    outline: none;
    font-size: 1.0rem;
    color: rgb(224, 213, 213);
    font-weight: 1.4rem;
}
.section-2 .container .right{
    position: relative;
}
.section-2 .container .right .first img{
    width: 360px;
    margin-left: 160px;
    position: absolute;
    right: 0;
}
.section-2 .container .right .right-arrow {
    width: 45px;
    height: 45px;
    background-color: rgb(221, 216, 216);
    position: absolute;
    top: 50%;
    left: 26%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-2 .container .right .right-arrow img{
    width: 20px;
    background-color: rgb(221, 216, 216);
}

.section-2  .child{
    position: absolute;
    width: 450px;
    height: 200px;
    background-color: white;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-2 .child .content h3{
    text-align: center;
    font-size: 0.9rem;
}
.section-2 .child .content p{
    margin-top: 10px;
    font-size: 0.9rem;
}
.section-3{
    width: 100%;
    height: 900px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.section-3 .container{
    width: 80%;
    height: 70%;
    background-color: rgb(255, 255, 255);
}
.section-3 .container .page-name{
    height: 20%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}
.section-3 .container .page-name .about-us{
    font-size: 1.3rem;
    font-weight: bold;
}
.section-3 .container .page-name .about-us p{
    text-decoration: 5px solid black;
}
.section-3 .container .page-name .page-number{
    font-weight: 1.1rem;
    color: rgb(153, 148, 148);
}
.section-3 .container .page-name .page-number .sub-num{
    margin-left: 5px;
}
.section-3 .container .page-content{
    width: 100%;
    height: 90%;
    background-color: rgb(255, 255, 255);
}  
.section-3 .container .page-content .left{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.section-3 .container .page-content .right{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.section-3 .container .page-content .left h1{
    font-size: 2.1rem;
}
.section-3 .container .page-content .left p{
    font-size: 0.9rem;
    margin-top: 25px;
}
.section-3 .container .page-content .left .sub-title h2{
    font-size: 2.0rem;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-left: 5px solid black;
}   
.section-3 .container .page-content .left button{
    width: 140px;
    height: 50px;
    background-color: rgb(24, 24, 230);
    border: none;
    outline: none;
    font-size: 1.0rem;
    color: rgb(224, 213, 213);
    font-weight: 1.4rem;
    margin-top: 50px;
}
.section-3 .container .page-content .right .image{
    position: relative;
}
.section-3 .container .page-content .right .image img{
    width: 425px;
    position: absolute;
    right: 0;
}
.section-4{
    height: 700px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.section-4 .container{
    width: 90%;
    height: 70%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 0;
    top: 12%;
}
.section-4 .container .overlay{
    position: absolute;
    width: 37%;
    height: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.section-4 .container .overlay .button{
    position: absolute;
    top: 50%;
    left: 25%;
    height: 10%;
    width: 50px;
    background-color: rgb(187, 187, 187);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .section-4 .container .overlay .button img{
    text-decoration-color: rgb(22, 56, 160);
} */
.section-4 .container .image-slider{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}
.section-4 .container .image-slider .left{
    width: 60%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.section-4 .container .image-slider .left img{
    width: 100%;
    height: 100%;
}
.section-4 .container .image-slider .right{
    width: 37%;
    height: 100%;
    background-color: cornflowerblue;
    overflow: hidden;
}
.section-4 .container .image-slider .right img{
    height: 100%;
}
.section-5{
    height: 1000px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-5 .container{
    width: 80%;
    height: 95%;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.section-5 .container .page-name{
    justify-content: space-between;
}
.section-5 .container .page-name .features{
    font-size: 1.5rem;
    font-weight: bold;
}
.section-5 .container .page-name .page-number{
    font-size: 1.2rem;
    color: rgba(155, 151, 151, 0.849);
}
.section-5 .container .page-content{
    width: 100%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
}
.section-5 .container .page-content .button{
    width: 100%;
    height: 5%;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}
.section-5 .container .page-content .button button{
    width: 230px;
    border-bottom: 4px solid rgb(213, 228, 84);
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgb(255, 255, 255);
    font-size: 1.0rem;
    font-weight: bold;
    padding-right: 100px;
}
.section-5 .container .page-content .lower-section{
    display: flex;
    height: 95%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.section-5 .container .page-content .lower-section .left{
    height: 100%;
    width: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-5 .container .page-content .lower-section .right{
    height: 100%;
    width: 50%;
    background-color: rgb(255, 255, 255);
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.section-5 .container .page-content .lower-section .right .title{
    width: 90%;
    height: 70%;
    position: absolute;
    right: 0;
    top: 15%;
}
.section-5 .container .page-content .lower-section .left .image{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.section-5 .container .page-content .lower-section .left .image img{
    width: 47%;
    height: 470px;
} 
.section-5 .right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-5 .right .title{
    width: 100%;
    height: 500px;
}
.section-5 .right .title h1{
    font-size: 2.3rem;
}
.section-5 .right .title p{
    font-size: 0.9rem;
    margin-top: 50px;
}
.section-5 .right .title .icons-text .upper{
    margin-top: 50px;
    width: 200px;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
}
.section-5 .right .title .icons-text .lower{
    margin-top: 50px;
    width: 200px;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
}
.section-5 .right .title .icons-text .lower .last-icon img{
    width: 25px;
}
.section-5 .right .title .icons-text .upper .icon img{
    width: 25px;
}
.section-5 .right .title .icons-text .upper .icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(218, 213, 213, 0.863);
}
.section-5 .right .title .icons-text .lower .last-icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(218, 213, 213, 0.863);
}
.section-5 .container .page-content .lower-section .right {
   right: 0px;
}
.section-5 .container .page-content .lower-section .right .title .icons-text .upper .icon:hover{
    background-color: rgba(182, 177, 177, 0.295);
}
.section-5 .container .page-content .lower-section .right .title .icons-text .lower .last-icon:hover{
    background-color: rgba(182, 177, 177, 0.295);
}
.section-6{
    width: 100%;
    height: 300px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.section-6 .container{
    width: 80%;
    height: 65%;
    background-color: rgb(0, 0, 0);
}
.section-6 .container .page-content{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}
.section-6 .container .page-content .left{
    width: 40%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}
.section-6 .container .page-content .right{
    width: 30%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}
.section-6 .container .page-content .left .title h1{
    font-size: 1.9rem;
    color: white;
}
.section-6 .container .page-content .right .sub-title p{
    font-size: 0.9rem;
    color: white;
}
.horizontal-center{
    margin-top: 40px;
}
.horizontal-center-p{
    margin-top: 50px;
    margin-left: 70px;
}
.horizontal-button{
    margin-top: 60px;
    margin-left: 100px;
}
.section-6 .container .page-content .button{
    width: 130px;
    height: 40px;
    background-color: rgb(213, 214, 117);
}
.section-6 .container .page-content .button button{
    height: 40px;
    width: 130px;
    outline: none;
    border: none;
    font-size: 0.9rem;
    background-color: rgb(218, 218, 36);
}
.section-6 .container .page-content .button button .position{
    margin-left: 10px;
    margin-top: 20px;
}
.section-7{
    width: 100%;
    height: 1500px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-7 .container{
    width: 80%;
    height: 92%;
    background-color: rgb(221, 102, 23);
}
.section-7 .container .page-name{
    height: 10%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}
.section-7 .container .page-name .features{
    font-size: 1.3rem;
    font-weight: bold;
}
.section-7 .container .page-name .features p{
    text-decoration: 5px solid black;
}
.section-7 .container .page-name .page-number{
    font-weight: 1.1rem;
    color: rgb(153, 148, 148);
}
.section-7 .container .page-name .page-number .sub-num{
    margin-left: 5px;
}
.section-7 .container .part-1{
    width: 100%;
    height: 10%;
    background-color: rgb(255, 255, 255);
}
.section-7 .container .part-1 .page-content{
    height: 100%;
    width: 100%;
    justify-content: space-between;
}
.section-7 .container .part-1 .page-content .left{
    height: 100%;
    width: 55%;
    font-size: 1.5vw;
}
.section-7 .container .part-1 .page-content .right{
    height: 100%;
    width: 40%;
    justify-content: space-between;
}
.section-7 .container .part-1 .page-content .right .links{
    justify-content: space-between;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(105, 105, 105);
}
.section-7 .container .part-1 .page-content .right .links p:hover{
    color: rgb(0, 17, 255);
}
.section-7 .container .part-1 .page-content .right .links p{
    cursor: pointer;
}
.section-7 .container .part-2{
    width: 100%;
    height: 72%;
    overflow: hidden;
    background-color: yellowgreen;
}
.section-7 .container .part-2 .left{
    width: 50%;
    height: 100%;
    background-color: rgb(41, 31, 184);
}
.section-7 .container .part-2 .left .image-1{
    width: 100%;
    height: 50%;
    overflow: hidden;
}
.section-7 .container .part-2 .left .image-2{
    width: 100%;
    height: 50%;
    background-color: rgb(185, 67, 96);
}
.section-7 .container .part-2 .right{
    width: 50%;
    height: 100%;
    background-color: rgb(41, 31, 184);
}
.section-7 .container .part-2 .right .image-1{
    width: 100%;
    height: 60%;
    background-color: rgb(185, 67, 96);
}
.section-7 .container .part-2 .right .image-2{
    width: 100%;
    height: 40%;
    background-color: rgb(255, 255, 0);
}
.section-7 .container .part-2 img{
    /* height: 100%; */
    width: 100%;
}
.section-7 .container .part-2 .right .image-2 img{
    height: 100%;
}
.white{
    color: white;
}
.space-between{
    justify-content: space-between;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.section-7 .container .part-2 .left .image-1 .layer{
    height: 100%;
    width: 100%;
    left: -100%;
    transition: all 0.5s ease;
    background-color: rgba(146, 146, 12, 0.411);
}
.section-7 .container .part-2 .left .image-1:hover  .layer{
    left: 0;
    top: 0;
}
.section-7 .container .part-2 .left .image-1 .layer .layer-content{
    width: 90%;
    height: 90%;
}
.section-7 .container .part-2 .layer h2{
    font-size: 3vw;
    margin-bottom: 50px;
}
.section-7 .container .part-2 .layer p{
    font-weight: bold;
    margin-bottom: 100px;
}
.section-7 .container .part-2 .layer img{
    width: 10%;
    margin-left: 20px;
}
.section-7 .container .part-2 .layer .button{
    margin-bottom: 50px;
}
.section-7 .container .part-2 .layer .client{
    margin-bottom: 20px;
}
.section-7 .container .part-2 .right .image-1 .layer h2{
    font-size: 3vw;
    margin-bottom: 80px;
}
.section-7 .container .part-2 .right .image-1 .layer p{
    font-weight: bold;
    margin-bottom: 130px;
}
.section-7 .container .part-2 .right .image-1 .layer img{
    width: 10%;
    margin-left: 20px;
}
.section-7 .container .part-2 .layer .right .image-1 .button{
    margin-bottom: 60px;
}
.section-7 .container .part-2 .layer .right .image-1 .client{
    margin-bottom: 30px;
}
.section-7 .container .part-2 .right .image-2 .layer h2{
    font-size: 3vw;
    margin-bottom: 20px;
}
.section-7 .container .part-2 .right .image-2 .layer p{
    font-weight: bold;
    margin-bottom: 50px;
}
.section-7 .container .part-2 .right .image-2 .layer img{
    width: 10%;
    margin-left: 20px;
}
.section-7 .container .part-2 .layer .right .image-2 .button{
    margin-bottom: 40px;
}
.section-7 .container .part-2 .layer .right .image-2 .client{
    margin-bottom: 30px;
}
.parent{
    position: relative;
}
.child{
    position: absolute;
}
.section-7 .container .part-2 .left .image-2 .layer{
    height: 100%;
    width: 100%;
    left: -100%;
    top: -100%;
    transition: all 0.5s ease;
    background-color: rgba(146, 146, 12, 0.411);
}
.section-7 .container .part-2 .left .image-2:hover  .layer{
    left: 0;
    top: 0;
}
.section-7 .container .part-2 .left .image-2 .layer .layer-content{
    width: 90%;
    height: 90%;
}
.section-7 .container .part-2 .right .image-1 .layer{
    height: 100%;
    width: 100%;
    right: -100%;
    top: -100%;
    transition: all 0.5s ease;
    background-color: rgba(146, 146, 12, 0.411);
}
.section-7 .container .part-2 .right .image-1:hover  .layer{
    right: 0;
    top: 0;
}
.section-7 .container .part-2 .right .image-1 .layer .layer-content{
    width: 90%;
    height: 90%;
}
.section-7 .container .part-2 .right .image-2 .layer{
    height: 100%;
    width: 100%;
    right: -100%;
    transition: all 0.5s ease;
    background-color: rgba(146, 146, 12, 0.411);
}
.section-7 .container .part-2 .right .image-2:hover  .layer{
   right: 0;
}
.section-7 .container .part-2 .right .image-2 .layer .layer-content{
    width: 90%;
    height: 90%;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.section-7 .container .part-3{
    width: 100%;
    height: 8%;
    background-color: rgb(255, 255, 255);
}
.section-7 .container .part-3 .left {
    width: 50%;
    font-size: 0.9rem;
    color: rgb(129, 129, 129);
    margin-top: 50px;
    /* font-weight: bold; */
}
.section-7 .container .part-3 .right {
    width: 50%;
    font-size: 0.9rem;
    color: rgb(105, 104, 104);
}
.section-7 .container .part-3 .right button {
    cursor: pointer;
    font-weight: bold;
    width: 110px;
    height: 40px;
    background-color: blue;
    font-size: 0.8rem;
    border: none;
    outline: none;
    color: white;
    margin-left: 60%;
    margin-top: 40px;
}
.section-7 .container .part-3 .right button:hover{
    color: rgb(0, 0, 0);
}
.section-8{
    width: 100%;
    height: 900px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.section-8 .container{
    width: 80%;
    height: 80%;
    background-color: rgb(255, 255, 255);
}
.section-8 .container .page-name{
    height: 20%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}
.section-8 .container .page-name .testimonial{
    font-size: 1.3rem;
    font-weight: bold;
}
.section-8 .container .page-name .testimonial p{
    text-decoration: 5px solid black;
}
.section-8 .container .page-name .page-number{
    font-weight: 1.1rem;
    color: rgb(153, 148, 148);
}
.section-8 .container .page-name .page-number .sub-num{
    margin-left: 5px;
}
.section-8 .container .page-content{
    height: 80%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.section-8 .container .page-content .left{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.section-8 .container .page-content .left .page-title{
    width: 96%;
    height: 96%;
}
.section-8 .container .page-content .left .page-title h4{
    color: grey;
    font-weight: bold;
    font-size: 1.1vw;
    margin-top: 15px;
    margin-bottom: 80px;
}
.section-8 .container .page-content .left .page-title h1{
    font-size: 2.2vw;
    font-weight: bold;
    margin-bottom: 5px;
}
.section-8 .container .page-content .left .page-title .button{
    margin-top: 45%;
    height: 32px;
}
.section-8 .container .page-content .left .page-title .button h3{
    font-size: 1.0vw;
    /* margin-left: 10px; */
}
.section-8 .container .page-content .left .page-title .button .arrow{
    margin-left: 20px;
}
.section-8 .container .page-content .left .page-title .button .arrow img{
    background-color: rgb(248, 248, 248);
    height: 25px;
    width: 25px;
    cursor: pointer;
}
.section-8 .container .page-content .left .page-title .button .arrow img:hover{
    background-color: rgb(0, 255, 170);
}
.section-8 .container .page-content .right{
    height: 100%;
    width: 50%;
}
.section-8 .container .page-content .right .image{
    height: 98%;
    width: 80%;
    margin-left: 20%;
}
.section-8 .container .page-content .right .image img{
    height: 100%;
    width: 100%;
}
.section-9 {
    width: 100%;
    height: 400px;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-9 .container {
    width: 80%;
    height: 70%;

}

.section-9 .container .part-1 {
    width: 100%;
    height: 32%;
    justify-content: space-between;
}

.section-9 .container .part-1 h2 {
    font-size: 3rem;

}

.section-9 .container .part-1 h4 {
    font-size: 1.5rem;
    color: rgb(90, 90, 90);
    margin-bottom: 20px;
}

.section-9 .container .part-1 h5 {
    color: rgb(117, 117, 117);

}

.section-9 .container .part-2 .images {
    margin-top: 100px;
    width: 100%;
    height: 50%;
    justify-content: space-between;
}

.section-9 .container .part-2 .img img {
    width: 120px;
}

.section-10 {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-10 .container{
    width: 80%;
    height: 80%;
}
.section-10 .container .left{
    height: 100%;
    width: 50%;
    background-color: rgb(255, 255, 255);
}
.section-10 .container .left .title{
    height: 80%;
    width: 90%;
}
.section-10 .container .left .title h3{
    font-size: 1.4vw;
    margin-bottom: 10px;
}
.section-10 .container .left .title p{
    margin-top: 30px;
    font-size: 1.3vw;
    color: blue;
}
.section-10 .container .right{
    height: 100%;
    width: 50%;
    background-color: rgb(255, 255, 255);
}
.section-10 .container .right .part-1{
    height: 80%;
    width: 50%;
    border-left: 2px solid grey;
}
.section-10 .container .right .part-1 h5{
    font-size: 1.2vw;
    font-weight: bold;
    color: rgba(128, 128, 128, 0.768);
    margin-bottom: 20px;
    margin-left: 50%;
}
.section-10 .container .right .part-1 p{
    font-size: 1.1vw;
    font-weight: bold;
    margin-bottom: 9px;
    margin-left: 50%;
}
.section-10 .container .left p:hover{
    cursor: pointer;
    border-bottom: 2px solid blue;
}
.section-10 .container .right .part-2{
    height: 80%;
    width: 50%;
}
.section-10 .container .right .part-2 h5{
    font-size: 1.1vw;
    color: rgba(128, 128, 128, 0.768);
    margin-bottom: 20px;
    margin-left: 30%;
}
.section-10 .container .right .part-2 p{
    font-size: 1.1vw;
    font-weight: bold;
    margin-bottom: 9px;
    margin-left: 30%;
} 
/* ====================================================== */

.section-11{
    width: 100%;
    height: 8%;
    background-color: rgb(219, 206, 206);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 80%;
    justify-content: space-between;
}

.section-11 .container .logo {
    color: rgb(0, 0, 0);
    font-size: 2.8rem;
}

.section-11 .container .link{
    color: rgb(0, 0, 0);
    width: 380px;
    font-size: 1.18rem;
    font-weight: 599;
    /* font-weight: 550; */
    justify-content: space-between;
    align-items: center;
}
.section-11 .container .link:hover{
    cursor: pointer
}
.section-11 .container .link p:hover{
    border-bottom: 2px solid black;
}
.section-11 .container .para{
    font-size: 0.9vw;
}
