*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ========================FONT================= */
.Sacramento-cursive {
    font-family: 'Sacramento', cursive;
}

.Montserrat-sans-serif {
    font-family: 'Montserrat', sans-serif;
}
.Merriweather-serif {
    font-family: 'Merriweather', serif;
}
.Yellowtail{
    font-family: 'Yellowtail', cursive;
}
/* =======================BODY================ */
.flex {
    display: flex;
}
body{
    height: 1500px;
}
.space-between{
    justify-content: space-between;
}
.section-1{
    width: 100%;
    height: 70px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1 .container{
    width: 80%;
    height: 80%;
    justify-content: space-between;
}

.section-1 .container .logo {
    color: white;
    font-size: 2.9rem;
}

.section-1 .container .link{
    color: white;
    width: 380px;
    font-size: 1.4rem;
    justify-content: space-between;
    align-items: center;
}

.section-1 .container .icons {
    width: 100px
}

.section-1 .container .icons img{
    margin-top: 20px;
    margin-left: 10px;
    width: 20px;
}
.white{
    color: white;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-2{
    height: 30%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.section-2 .container{
    width: 80%;
    height: 80%;
    background-color: rgb(0, 0, 0);
}
.section-2 .container .headline{
    width: 80%;
    height: 80%;
    margin-top: 60px;
}
.section-2 .container .headline h1{
    font-size: 2.5vw;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}
.section-3{
    width: 100%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.section-3 .container{
    width: 80%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.section-3 .container .page-name{
    height: 15%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}
.section-3 .container .page-name .about-us{
    font-size: 1.3rem;
    font-weight: bold;
}
.section-3 .container .page-name .about-us p{
    text-decoration: 5px solid black;
}
.section-3 .container .page-name .page-number{
    font-weight: 1.1rem;
    color: rgb(153, 148, 148);
}
.section-3 .container .page-name .page-number .sub-num{
    margin-left: 5px;
}
.section-3 .container .heading{
    height: 20%;
    width: 100%;
}
.section-3 .container .heading h1{
    font-size: 2.5vw;
    font-weight: bold;
    margin-bottom: 8px;
}
.section-3 .container .heading p{
    font-size: 1.2vw;
    margin-top: 20px;
}
.section-3 .container .image{
    height: 60%;
    width: 100%;
    margin-top: 20px;
}
.section-3 .container .image .icon{
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    position: absolute;
}
.section-3 .container .image .icon img{
    height: 20px;
    width: 20px;
    /* position: absolute; */
}
.section-3 .container .image img{
    height: 100%;
    width: 100%;
}
.section-4{
    height: 25%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.section-4 .container{
    height: 70%;
    width: 80%;
}
.section-4 .container .left{
    height: 100%;
    width: 40%;
}
.section-4 .container .left .page-name{
    margin-bottom: 50px;
}
.section-4 .container .left .page-name h3{
    margin-bottom: 10px;
    margin-left: 0;
}
.section-4 .container .left .page-name h4{
   margin-right: 79%;
}
.section-4 .container .left h1{
    font-size: 1.8vw;
    margin-bottom: 7px;
}
.section-4 .container .right{
    height: 100%;
    width: 50%;
}
.section-4 .container .right .part-1{
    height: 100%;
    width: 50%;
}
.section-4 .container .right .part-1 .content{
    height: 60%;
    width: 70%;
    margin-left: 30%;
    margin-top: 85px;
}
.section-4 .container .right .part-1 h3{
    font-size: 1.1vw;
    margin-left: 15%;
    margin-bottom: 15px;
}
.section-4 .container .right .part-2{
    height: 100%;
    width: 50%;
}
.section-4 .container .right .part-2 .content{
    height: 60%;
    width: 70%;
    margin-left: 30%;
    margin-top: 85px;
}
.section-4 .container .right .part-2 h3{
    font-size: 1.1vw;
    margin-left: 15%;
    margin-bottom: 15px;
}


































































































































































































































































































































































































































































